<h1>You Forgot Your Password?</h1>
<p></p>
  <p>
    You have successfully reset your password to The Basement Game. Your 
    temporary password is: <%= @player.reset_password_token %>.<br>
    Please change your password immediately.<br>
  </p>
<p>Thanks for playing and good luck... You're going to need it...</p>