<h1>You Forgot Your Password?</h1>
<p></p>
  <p>
    You have successfully reset your password to The Basement Game. Your 
    temporary password is: <%= @player.reset_password_token %>.
  </p>
    <p>Please return back to the website and enter in your temporary password and your new password.
  </p>
  <p>Your temporary password will expire in 4 hours</p>
<p>Thanks for playing and good luck... You're going to need it...</p>