<h1>Welcome to The Basement Game Beta Test, <%= @player.username %>!</h1>
  <p>
    Thank you for registering to play my silly game. 
    Your username is: <%= @player.username %>. I appreciate your support!<br>
  </p>
<p>Thanks for joining and have a great day!</p>